tests/saved_tests/*
*.csv
lobster_for_sdhawkes/data/*/*.csv
lobster_for_sdhawkes/data/*
.ipynb_checkpoints/
sdhawkes_powerlaw/resources/*linux-gnu.so
sdhawkes_powerlaw/resources/*.c
sdhawkes_powerlaw/resources/build/*
sdhawkes_powerlaw/modelling/build/*
lobster_for_sdhawkes/.ipynb_checkpoints/
/home/claudio/pipest/lobster_for_sdhawkes/data/*
old_setup.py
read_and_calibrate.py
scratch_notebook.ipynb
tests/saved_tests/*
calibration/calibr_main-?.?1*
cython_setup.?1*
lobster_for_sdhawkes/read_lobsterdata.?1*
