pipest/build/*
paper/
pipest/*/*/__pycache__/*
pipest/tests/saved_tests/*
pipest/*.csv
pipest/lobster_for_sdhawkes/data/*/*.csv
pipset/lobster_for_sdhawkes/data/*
*.ipynb_checkpoints/
pipest/models/INTC/*
pipest/sdhawkes_powerlaw/goodfit_*
pipest/sdhawkes_powerlaw/resources/scripts_for_setup/*
pipest/sdhawkes_powerlaw/resources/*linux-gnu.so
pipest/sdhawkes_powerlaw/resources/*.c
pipest/sdhawkes_powerlaw/modelling/*linux-gnu.so
pipest/sdhawkes_powerlaw/modelling/*.c
pipest/sdhawkes_powerlaw/resources/build/*
pipest/sdhawkes_powerlaw/modelling/build/*
pipest/lobster_for_sdhawkes/.ipynb_checkpoints/
pipest/old_setup.py
pipest/read_and_calibrate.py
pipest/scratch_notebook.ipynb
pipest/tests/saved_tests/*
pipest/tests/performance_measurements/*.c
pipest/tests/performance_measurements/*.so
pipest/tests/performance_measurements/*.png
pipest/calibration/calibr_main-?.?1*
pipest/cython_setup.?1*
pipest/lobster_for_sdhawkes/data/*
pipest/lobster_for_sdhawkes/py_scripts/*.c
pipest/lobster_for_sdhawkes/py_scripts/*.so
pipest/lobster_for_sdhawkes/read_lobsterdata.?[1,2]*
pipest/tests/performance_measurements/build/
pipest/tests/performance_measurements/*.so
pipest/sdhawkes_powerlaw/test_notebook.ipynb
pipest/tests/explore_saved_test_estim.ipynb
