tests/saved_tests/
*.csv
/home/claudio/pipest/lobster_for_sdhawkes/data/
.ipynb_checkpoints/
build/
lobster_for_sdhawkes/.ipynb_checkpoints/
lobster_for_sdhawkes/data/
old_setup.py
read_and_calibrate.py
scratch_notebook.ipynb

